{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% extends "template.njk" %}

{% block content %}
  {% if error %}
    <div class="govuk-error-summary" role="alert">
      <h2 class="govuk-error-summary__title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>{{ error }}</li>
        </ul>
      </div>
    </div>
  {% endif %}
  <h1 class="govuk-heading-xl">Create task</h1>

  <form method="POST" action="/tasks/create" class="form-task">

    {{ govukInput({
      name: "title",
      id: "task-title",
      label: {
        text: "Provide a task title"
      },
      rows: "1",
      attributes: {
        required: "true",
        type: "text",
        maxlength: "100"
      }
    }) }}

    {{ govukInput({
      name: "description",
      id: "task-description",
      label: {
        text: "Provide a description of the task"
      },
      rows: "1",
      attributes: {
        type: "text",
        maxlength: "300"
      }
    }) }}

    {{ govukSelect({
      name: "status",
      id: "task-status",
      label: {
        text: "Select a task status"
      },
      items: [
        {
          value: "TODO",
          text: "To do"
        },
        {
          value: "IN_PROGRESS",
          text: "In progress"
        },
        {
          value: "DONE",
          text: "Done"
        }
      ]
    }) }}

    {{ govukDateInput({
      id: "task-due-date",
      namePrefix: "dueDate",
      fieldset: {
        legend: {
          text: "Provide a due date for the task"
        }
      },
      hint: {
        text: "For example, 01 01 2026"
      },
      items: [
        {
          name: "day",
          classes: "govuk-input--width-2",
          attributes: {
            required: "true",
            type: "number",
            inputmode: "numeric",
            min: "1",
            max: "31"
          }
        },
        {
          name: "month",
          classes: "govuk-input--width-2",
          attributes: {
            required: "true",
            type: "number",
            inputmode: "numeric",
            min: "1",
            max: "12"
          }
        },
        {
          name: "year",
          classes: "govuk-input--width-4",
          attributes: {
            required: "true",
            type: "number",
            inputmode: "numeric",
            min: "1900",
            max: "2100"
          }
        }
      ]
    }) }}

    {{ govukButton({
      text: "Create task"
    }) }}

  </form>

  <a href="/" class="govuk-button govuk-button--secondary" role="button">
    Return to home
  </a>
{% endblock %}
